.heading {
    margin: 0px;
    font-size: 23px;
    box-shadow: 5px 5px 5px gray;
    width: 100%;


}

.note {
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    line-height: 3;
    background-color: rgb(199, 57, 57);
    color: white;
}

canvas {
    border-color: black;
    box-shadow: 5px 5px 5px gray;
}